<a href="https://colab.research.google.com/github/monicarondina/TCC/blob/main/TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('https://github.com/monicarondina/TCC/raw/main/06_12/Clientes_06_12.csv', sep=';', dtype={'Código':str})

In [3]:
df1.drop(['Instituição financeira', 'TCB', 'TD', 'TC', 'SR','Segmento', 'Cidade', 'UF', 'Data'], axis=1, inplace=True)

In [4]:
df2=pd.read_csv('https://github.com/monicarondina/TCC/raw/main/06_12/DR_06_12.csv', sep=';', dtype={'Código':str})

In [5]:
df2.drop(['Instituição financeira', 'TCB', 'TD', 'TC', 'SR','Cidade', 'UF', 'Data'], axis=1, inplace=True)
#df2.info()

In [6]:
df3=pd.read_csv('https://github.com/monicarondina/TCC/raw/main/06_12/Indexador_06_12.csv', sep=';', dtype={'Código':str})

In [7]:
df3.drop(['Instituição financeira', 'TCB', 'TD', 'TC', 'SR','Cidade', 'UF', 'Data', 'Segmento', 'Total Geral', 'Total Exterior'], axis=1, inplace=True)
#df3.info()

In [8]:
df4=pd.read_csv('https://github.com/monicarondina/TCC/raw/main/06_12/PF_06_12.csv', sep=';', dtype={'Código':str})

In [9]:
df4.drop(['Instituição financeira', 'TCB', 'TD', 'TC', 'SR','Segmento','Cidade', 'UF', 'Data'], axis=1, inplace=True)

In [10]:
df4=df4.dropna()

In [11]:
df5=pd.read_csv('https://github.com/monicarondina/TCC/raw/main/06_12/PJ_modalidade_06_12.csv', sep=';', dtype={'Código':str})

In [12]:
df5.drop(['SR'], axis=1, inplace=True)

In [13]:
df5=df5.dropna()

In [14]:
df6=pd.read_csv('https://github.com/monicarondina/TCC/raw/main/06_12/Porte_06_12.csv', sep=';', dtype={'Código':str})

In [15]:
df6.drop(['Instituição financeira', 'TCB', 'TD', 'TC', 'SR','Segmento','Cidade', 'UF', 'Data', 'Total Exterior Pessoa Jurídica', 'Total da Carteira de Pessoa Jurídica'], axis=1, inplace=True)
df6=df6.dropna()

In [16]:
df7=pd.read_csv('https://github.com/monicarondina/TCC/raw/main/06_12/Risco_06_12.csv', sep=';', dtype={'Código':str})

In [17]:
df7.drop(['Instituição financeira', 'TCB', 'TD', 'TC', 'SR','Segmento','Cidade', 'UF', 'Data'], axis=1, inplace=True)
df7=df7.dropna()

In [18]:
pd.set_option('display.max_colum',None)

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Código        1697 non-null   object
 1   Qt_Clientes   1697 non-null   object
 2   Qt_Operações  1697 non-null   object
dtypes: object(3)
memory usage: 39.9+ KB

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Código  1697 non-null   object
 1   a1      1697 non-null   object
 2   a2      1697 non-null   object
 3   a3      1697 non-null   object
 4   a4      1697 non-null   object
 5   a5      1697 non-null   object
 6   a6      1697 non-null   object
 7   a       1697 non-null   object
 8   b1      1697 non-null   object
 9   b2      1697 non-null   object
 10  b3      1697 non-null   object
 11  b4      1697 non-null   object
 12  b5      1697 non-null   object
 13  b       1697 non-null   object
 14  c       1697 non-null   object
 15  d1      1697 non-null   object
 16  d2      1697 non-null   object
 17  d3      1697 non-null   object
 18  d4      1697 non-null   object
 19  d5      1697 non-null   object
 20  d6      1697 non-null   object
 21  d7      1697 non-null   object
 22  d8      1697 non-null   object
 23  d       1697 non-null   object
 24  e       1697 non-null   object
 25  f       1697 non-null   object
 26  g       1697 non-null   object
 27  h       1697 non-null   object
 28  i       1697 non-null   object
 29  j       1697 non-null   object
 30  k       1697 non-null   object
dtypes: object(31)
memory usage: 411.1+ KB

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Código                            1697 non-null   object
 1   Prefixado                         1650 non-null   object
 2   TR / TBF                          1650 non-null   object
 3   TJLP                              1650 non-null   object
 4   Libor                             1650 non-null   object
 5   Outras Taxas Pós-Fixadas          1650 non-null   object
 6   Carteira ativa com indexador CDI  1650 non-null   object
 7   SELIC                             1650 non-null   object
 8   Outras Taxas Flutuantes           1650 non-null   object
 9   IGPM                              1650 non-null   object
 10  IPCA                              1650 non-null   object
 11  IPCC                              1650 non-null   object
 12  Outros Índices de Preço           1650 non-null   object
 13  Outros Indexadores                1650 non-null   object
 14  Total não Individualizado         1650 non-null   object
dtypes: object(15)
memory usage: 199.0+ KB

In [22]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650 entries, 0 to 1696
Data columns (total 59 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Código                                1650 non-null   object
 1   Total_Carteira_PF                     1650 non-null   object
 2   PF_Consignado_Vencido_15d             1650 non-null   object
 3   PF_Consignado_Vencer_90d              1650 non-null   object
 4   PF_Consignado_Vencer_91-360d          1650 non-null   object
 5   PF_Consignado_Vencer_361-1080d        1650 non-null   object
 6   PF_Consignado_Vencer_1081-1800d       1650 non-null   object
 7   PF_Consignado_Vencer_1801-5400d       1650 non-null   object
 8   PF_Consignado_Vencer_acima_5400d      1650 non-null   object
 9   PF_Consignado_TOTAL                   1650 non-null   object
 10  PF_Não_Consignado_Vencido_15d         1650 non-null   object
 11  PF_Não_Consignado_Vencer_90d          1650 non-null   object
 12  PF_Não_Consignado_Vencer_91-360d      1650 non-null   object
 13  PF_Não_Consignado_Vencer_361-1080d    1650 non-null   object
 14  PF_Não_Consignado_Vencer_1081-1800d   1650 non-null   object
 15  PF_Não_Consignado_Vencer_1801-5400d   1650 non-null   object
 16  PF_Não_Consignado_Vencer_acima_5400d  1650 non-null   object
 17  PF_Não_Consignado_TOTAL               1650 non-null   object
 18  PF_Veículos_Vencido_15d               1650 non-null   object
 19  PF_Veículos_Vencer_90d                1650 non-null   object
 20  PF_Veículos_Vencer_91-360d            1650 non-null   object
 21  PF_Veículos_Vencer_361-1080d          1650 non-null   object
 22  PF_Veículos_Vencer_1081-1800d         1650 non-null   object
 23  PF_Veículos_Vencer_1801-5400d         1650 non-null   object
 24  PF_Veículos_Vencer_acima_5400d        1650 non-null   object
 25  PF_Veículos_TOTAL                     1650 non-null   object
 26  PF_Hab_Vencido_15d                    1650 non-null   object
 27  PF_Hab_Vencer_90d                     1650 non-null   object
 28  PF_Hab_Vencer_91-360d                 1650 non-null   object
 29  PF_Hab_Vencer_361-1080d               1650 non-null   object
 30  PF_Hab_Vencer_1081-1800d              1650 non-null   object
 31  PF_Hab_Vencer_1801-5400d              1650 non-null   object
 32  PF_Hab_Vencer_acima_5400d             1650 non-null   object
 33  PF_Hab_TOTAL                          1650 non-null   object
 34  PF_Cartão_Vencido_15d                 1650 non-null   object
 35  PF_Cartão_Vencer_90d                  1650 non-null   object
 36  PF_Cartão_Vencer_91-360d              1650 non-null   object
 37  PF_Cartão_Vencer_361-1080d            1650 non-null   object
 38  PF_Cartão_Vencer_1081-1800d           1650 non-null   object
 39  PF_Cartão_Vencer_1801-5400d           1650 non-null   object
 40  PF_Cartão_Vencer_acima_5400d          1650 non-null   object
 41  PF_Cartão_TOTAL                       1650 non-null   object
 42  PF_Rural_Vencido_15d                  1650 non-null   object
 43  PF_Rural_Vencer_90d                   1650 non-null   object
 44  PF_Rural_Vencer_91-360d               1650 non-null   object
 45  PF_Rural_Vencer_361-1080d             1650 non-null   object
 46  PF_Rural_Vencer_1081-1800d            1650 non-null   object
 47  PF_Rural_Vencer_1801-5400d            1650 non-null   object
 48  PF_Rural_Vencer_acima_5400d           1650 non-null   object
 49  PF_Rural_TOTAL                        1650 non-null   object
 50  PF_Outros_Vencido_15d                 1650 non-null   object
 51  PF_Outros_Vencer_90d                  1650 non-null   object
 52  PF_Outros_Vencer_91-360d              1650 non-null   object
 53  PF_Outros_Vencer_361-1080d            1650 non-null   object
 54  PF_Outros_Vencer_1081-1800d           1650 non-null   object
 55  PF_Outros_Vencer_1801-5400d           1650 non-null   object
 56  PF_Outros_Vencer_acima_5400d          1650 non-null   object
 57  Outros_TOTAL                          1650 non-null   object
 58  Total_Exterior_PF                     1650 non-null   object
dtypes: object(59)
memory usage: 773.4+ KB

In [23]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650 entries, 0 to 1696
Data columns (total 83 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Instituição financeira                1650 non-null   object
 1   Código                                1650 non-null   object
 2   TCB                                   1650 non-null   object
 3   TD                                    1650 non-null   object
 4   TC                                    1650 non-null   int64
 5   Segmento                              1650 non-null   int64
 6   Cidade                                1650 non-null   object
 7   UF                                    1650 non-null   object
 8   Data                                  1650 non-null   object
 9   Total da Carteira de Pessoa Jurídica  1650 non-null   object
 10  PJ_CG_Vencido_15d                     1650 non-null   object
 11  PJ_CG_Vencer_90d                      1650 non-null   object
 12  PJ_CG_Vencer_91-360d                  1650 non-null   object
 13  PJ_CG_Vencer_361-1080d                1650 non-null   object
 14  PJ_CG_Vencer_1081-1800d               1650 non-null   object
 15  PJ_CG_Vencer_1801-5400d               1650 non-null   object
 16  PJ_CG_Vencer_acima_5400d              1650 non-null   object
 17  PJ_CG_TOTAL                           1650 non-null   object
 18  PJ_I_Vencido_15d                      1650 non-null   object
 19  PJ_I_Vencer_90d                       1650 non-null   object
 20  PJ_I_Vencer_91-360d                   1650 non-null   object
 21  PJ_I_Vencer_361-1080d                 1650 non-null   object
 22  PJ_I_Vencer_1081-1800d                1650 non-null   object
 23  PJ_I_Vencer_1801-5400d                1650 non-null   object
 24  PJ_I_Vencer_acima_5400d               1650 non-null   object
 25  PJ_I_TOTAL                            1650 non-null   object
 26  PJ_CGR_Vencido_15d                    1650 non-null   object
 27  PJ_CGR_Vencer_90d                     1650 non-null   object
 28  PJ_CGR_Vencer_91-360d                 1650 non-null   object
 29  PJ_CGR_Vencer_361-1080d               1650 non-null   object
 30  PJ_CGR_Vencer_1081-1800d              1650 non-null   object
 31  PJ_CGR_Vencer_1801-5400d              1650 non-null   object
 32  PJ_CGR_Vencer_acima_5400d             1650 non-null   object
 33  PJ_CGR_TOTAL                          1650 non-null   object
 34  PJ_Recebiveis_Vencido_15d             1650 non-null   object
 35  PJ_Recebiveis_Vencer_90d              1650 non-null   object
 36  PJ_Recebiveis_Vencer_91-360d          1650 non-null   object
 37  PJ_Recebiveis_Vencer_361-1080d        1650 non-null   object
 38  PJ_Recebiveis_Vencer_1081-1800d       1650 non-null   object
 39  PJ_Recebiveis_Vencer_1801-5400d       1650 non-null   object
 40  PJ_Recebiveis_Vencer_acima_5400d      1650 non-null   object
 41  PJ_Recebiveis_TOTAL                   1650 non-null   object
 42  PJ_Comex_Vencido_15d                  1650 non-null   object
 43  PJ_Comex_Vencer_90d                   1650 non-null   object
 44  PJ_Comex_Vencer_91-360d               1650 non-null   object
 45  PJ_Comex_Vencer_361-1080d             1650 non-null   object
 46  PJ_Comex_Vencer_1081-1800d            1650 non-null   object
 47  PJ_Comex_Vencer_1801-5400d            1650 non-null   object
 48  PJ_Comex_Vencer_acima_5400d           1650 non-null   object
 49  PJ_Comex_TOTAL                        1650 non-null   object
 50  PJ_Outros_Vencido_15d                 1650 non-null   object
 51  PJ_Outros_Vencer_90d                  1650 non-null   object
 52  PJ_Outros_Vencer_91-360d              1650 non-null   object
 53  PJ_Outros_Vencer_361-1080d            1650 non-null   object
 54  PJ_Outros_Vencer_1081-1800d           1650 non-null   object
 55  PJ_Outros_Vencer_1801-5400d           1650 non-null   object
 56  PJ_Outros_Vencer_acima_5400d          1650 non-null   object
 57  PJ_Outros_TOTAL                       1650 non-null   object
 58  PJ_Infra_Vencido_15d                  1650 non-null   object
 59  PJ_Infra_Vencer_90d                   1650 non-null   object
 60  PJ_Infra_Vencer_91-360d               1650 non-null   object
 61  PJ_Infra_Vencer_361-1080d             1650 non-null   object
 62  PJ_Infra_Vencer_1081-1800d            1650 non-null   object
 63  PJ_Infra_Vencer_1801-5400d            1650 non-null   object
 64  PJ_Infra_Vencer_acima_5400d           1650 non-null   object
 65  PJ_Infra_TOTAL                        1650 non-null   object
 66  PJ_Rural_Vencido_15d                  1650 non-null   object
 67  PJ_Rural_Vencer_90d                   1650 non-null   object
 68  PJ_Rural_Vencer_91-360d               1650 non-null   object
 69  PJ_Rural_Vencer_361-1080d             1650 non-null   object
 70  PJ_Rural_Vencer_1081-1800d            1650 non-null   object
 71  PJ_Rural_Vencer_1801-5400d            1650 non-null   object
 72  PJ_Rural_Vencer_acima_5400d           1650 non-null   object
 73  PJ_Rural_TOTAL                        1650 non-null   object
 74  PJ_Hab_Vencido_15d                    1650 non-null   object
 75  PJ_Hab_Vencer_90d                     1650 non-null   object
 76  PJ_Hab_Vencer_91-360d                 1650 non-null   object
 77  PJ_Hab_Vencer_361-1080d               1650 non-null   object
 78  PJ_Hab_Vencer_1081-1800d              1650 non-null   object
 79  PJ_Hab_Vencer_1801-5400d              1650 non-null   object
 80  PJ_Hab_Vencer_acima_5400d             1650 non-null   object
 81  PJ_Hab_TOTAL                          1650 non-null   object
 82  Total Exterior Pessoa Jurídica        1650 non-null   object
dtypes: int64(2), object(81)
memory usage: 1.1+ MB

In [24]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650 entries, 0 to 1696
Data columns (total 6 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Código                                     1650 non-null   object
 1   Micro                                      1650 non-null   object
 2   Pequena                                    1650 non-null   object
 3   Média                                      1650 non-null   object
 4   Grande                                     1650 non-null   object
 5   Total não Individualizado Pessoa Jurídica  1650 non-null   object
dtypes: object(6)
memory usage: 90.2+ KB

In [25]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650 entries, 0 to 1696
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Código          1650 non-null   object
 1   Total Geral     1650 non-null   object
 2   AA              1650 non-null   object
 3   A               1650 non-null   object
 4   B               1650 non-null   object
 5   C               1650 non-null   object
 6   D               1650 non-null   object
 7   E               1650 non-null   object
 8   F               1650 non-null   object
 9   G               1650 non-null   object
 10  H               1650 non-null   object
 11  Total Exterior  1650 non-null   object
dtypes: object(12)
memory usage: 167.6+ KB

In [37]:
s1=df5.merge(df1, on='Código',how='left')

In [38]:
s2=s1.merge(df2, on='Código',how='left')

In [39]:
s3=s2.merge(df3, on='Código',how='left')

In [40]:
s4=s3.merge(df4, on='Código',how='left')

In [41]:
s5=s4.merge(df6, on='Código',how='left')

In [44]:
df_06_12=s5.merge(df7, on='Código',how='left')

In [47]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [48]:
df_06_12.to_csv('/content/drive/MyDrive/TCC/df_06_12.csv')